name: Rust - Continuous integration

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Set environment
        # Setting `RUSTFLAGS` overrides any flags set on .cargo/config.toml, so we need to
        # set the target flags instead which are cumulative.
        # Track https://github.com/rust-lang/cargo/issues/5376
        run: |
          target=$(rustc -vV | awk '/^host/ { print $2 }' | tr [:lower:] [:upper:] | tr '-' '_')
          echo "CARGO_TARGET_${target}_RUSTFLAGS=$FLAGS" >> $GITHUB_ENV

      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
        with:
          key: lint
      - name: Install cargo-workspaces
        run: cargo install cargo-workspaces
      - name: Check rustfmt
        run: cargo fmt --all -- --check
      - name: Check clippy
        run: cargo ws exec cargo clippy --all-features --all-targets
      - name: Check clippy (No features)
        run: cargo ws exec cargo clippy --no-default-features --all-targets

  docs:
    name: Documentation
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: -D warnings
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          key: docs
      - name: Generate documentation
        run: cargo doc -v --document-private-items --all-features
